/* MAIN CONTENT STYLINGS */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-content {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

h1 {
    color: #2c3e50;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.task-list, .task-completed {
    flex: 1;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-right: 10px;
}

/* BUTTONS */

.add-task-button, .clear-task-button, .clear-listed-task-button {
    width: 30%;
    padding: 10px;
    margin-top: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logout-button {
    width: 10%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.close-modal-button {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

.table-button {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-task-button:hover, .logout-button:hover, .clear-task-button:hover, .table-button:hover {
    background-color: #2980b9;
}

/* TABLE STYLINGS */

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #3498db;
    color: white;
}

thead th {
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody td {
    padding: 10px;
    text-align: left;
}

/* CLASSES TO MAKE MODAL WORK */
.hidden {
    display: none;
  }
  
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
  
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}
