body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-content {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

h1 {
    color: #2c3e50;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.task-list, .task-completed {
    flex: 1;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-right: 10px;
}

.add-task-button, .clear-task-button {
    width: 30%;
    padding: 10px;
    margin-top: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logout-button {
    width: 10%;
    padding: 10px;
    margin-left: 33em;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-task-button:hover, .logout-button:hover, .clear-task-button:hover {
    background-color: #2980b9;
}
