<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <h1>Todo-List application</h1>

    <!-- Login Form -->
    <div>
        <h2>Login</h2>
        <form method="post" action="">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
            {% if form.errors %}
                <p>Your username and/or password didn't match. Please try again.</p>
            {% endif %}
        </form>
        <h3>No account yet? Consider registering <a href="/register/">here!</a></h3>
    </div>

</body>
</html>
