<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <h1>Todo-List application</h1>

    <div>
        <h2>Login</h2>
        <form method="post" action="login_view">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{ form.username.value|default_if_none:'' }}" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            <button type="submit">Login</button>
        </form>
        <h3>No account yet? Consider registering <a href="/register_view">here!</a></h3>
    </div>

    <script src="/static/index.js"></script>

    {% if created %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                userCreated();
            });
        </script>
    {% endif %}

    {% if login_first %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                loginFirst();
            });
        </script>
    {% endif %}

</body>
</html>
