<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo-List</title>
    <link rel="stylesheet" href="/static/listings.css">
</head>
<body>
    <div class="main-content">
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="logout-button">Logout</button>
        </form>
        {% if user.is_authenticated %}
            <h1>{{ user.username }}'s Tasks:</h1>
        {% else %}
            <h1>Not Logged In</h1>
        {% endif %}

        <main>
            <div class="container">
                <section id="todo-list" class="task-list">
                    {% if tasks %}
                        <ul class="task-list">
                            {% for task in tasks %}
                                <li>{{ task }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="no-tasks">No tasks added yet!</p>
                    {% endif %}
                    <!-- TODO: Add modal to add-task-button! -->
                    <button onclick="addTask()" class="add-task-button">Add New Task</button>
                    <button onclick="return clearListedTasks()" class="clear-listed-task-button">Clear tasks</button>
                </section>

                <div class="modal hidden">
                    <button onclick="closeTask()" class="close-modal-button">X</button>
                    <form method='post' action="/add_task">
                        {% csrf_token %}
                        <label for="task-description"></label>
                        <input type="text" id="task-description" name="description" placeholder="Describe your task here">
                        <button type="submit">Add</button>
                    </form>
                </div>

                <div class="overlay hidden"></div>

                <section class="task-completed">
                    <p class="completed-tasks">Completed tasks displayed here!</p>
                    <button onclick="return clearTask()" class="clear-task-button">Clear</button>
                </section>
            </div>
        </main>
    </div>

    <script src="/static/listings.js"></script>
</body>
</html>
