<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="/static/register.css">
</head>
<body>
    <h1>Register</h1>

    <div>
        <a href="/">Return</a>
        <h2>Create Your Account</h2>
        <form method="post" action="">
            {% csrf_token %}
            <label for="new_username">Username:</label>
            <input type="text" id="new_username" name="new_username" required>

            <label for="new_password">Password:</label>
            <input type="password" id="new_password" name="new_password" required>

            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>

            <button type="submit" onclick="return checkRegister()">Register</button>
        </form>
    </div>

    <script src="/static/register.js"></script>

</body>
</html>
